{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block title %} change password {% endblock %}

{% block content %} 
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Log in</h4>

            <form method="POST" class="forms-sample" style="align-content: center;">
                {% csrf_token %}
                <div class="form-group">
                    {{ form|crispy }}
                </div>


                <input type="submit" value="Change Password" class="btn btn-primary">
            </form>
        </div>
    </div>

</div>

{% endblock %}