{% extends "../base.html" %}

{% load crispy_forms_tags %}
{% block title %}Create {% endblock %}


{% block content %}

<div class="container">
    <form method="POST" class="form-horizontal" action="{% url 'item_create' %}" enctype='multipart/form-data'>
        {% csrf_token %}
        

        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.image|as_crispy_field }}
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.unit|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.depart|as_crispy_field }}
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                {{ form.cost|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.selling|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{form.curency|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.desc|as_crispy_field }}
                <input type="submit" value="Create" class="btn btn-success" name="save" />
                <input type="submit" value="Create and Add another" class="btn btn-success" name="save2" />

            </div>

           



    </form>
</div>
{% endblock%}